name: Test and deploy
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        java: ["11.0.2"]
      fail-fast: false # To not cancel other platforms when one fails
    name: Deploy on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: "3.8"
          architecture: "x64"
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
          java-package: jdk # (jre, jdk, or jdk+fx) - defaults to jdk
          architecture: x64

      # Install pipenv
      - if: matrix.os == 'windows-latest'
        name: Install pipenv [Windows]
        run: pip install pipenv
      - if: matrix.os != 'windows-latest'
        name: Install pipenv [Ubuntu/Macos]
        run: pip3 install pipenv

      - name: Install python dependencies
        run: pipenv install --dev --python 3.8 -v

      - name: Build JDK
        run: pipenv run python scripts/build_jdk.py

      - name: Test
        run: pipenv run pytest

      - name: Build wheel
        env:
          PLATFORM: ${{ matrix.os }}
        run: pipenv run python setup.py bdist_wheel

      # Deploy to Pypi
      - if: matrix.os == 'windows-latest'
        name: Deploy to Pypi [Windows]
        env:
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
        run: pipenv run twine upload dist/* --username __token__ --password ${env:TWINE_PASSWORD}
      - if: matrix.os != 'windows-latest'
        name: Deploy to Pypi [Ubuntu/Macos]
        env:
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
        run: pipenv run twine upload dist/* --username __token__ --password $TWINE_PASSWORD