name: Deploy Conda and PyPI packages
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ${{ matrix.os }}
    environment: deployment
    strategy:
      matrix:
        architecture:
          - x64
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        include:
          - os: macos-latest
            architecture: aarch64
          - os: ubuntu-latest
            architecture: aarch64
    name: Deploy on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - uses: ./.github/actions/build-jdk
        with:
          architecture: ${{ matrix.architecture }}
          python-version: "3.10"

      - uses: ./.github/actions/create-python-wheel

      - uses: ./.github/actions/create-conda-package

      - name: Upload Python wheel
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
        shell: bash
        run: poetry run twine upload dist/jdk4py-*.whl --username __token__ --password "$PYPI_TOKEN"

      - name: Upload Conda package
        env:
          JDK4PY_CONDA_CHANNEL_PASSWORD: ${{ secrets.CONDA_CHANNEL_PASSWORD }}
          JDK4PY_CONDA_CHANNEL_URL: ${{ secrets.CONDA_CHANNEL_URL }}
          JDK4PY_CONDA_CHANNEL_USERNAME: ${{ secrets.CONDA_CHANNEL_USERNAME }}
        shell: bash
        run: |
          ls dist/$JDK4PY_CONDA_PLATFORM/jdk4py-*.tar.bz2 | \
          while read filepath; do
            echo Uploading ${filepath}
            curl --fail --user "$JDK4PY_CONDA_CHANNEL_USERNAME":"$JDK4PY_CONDA_CHANNEL_PASSWORD" --upload-file ${filepath} "$JDK4PY_CONDA_CHANNEL_URL/$JDK4PY_CONDA_PLATFORM/"
          done
