name: Test
on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        python:
          - "3.7"
          - "3.8"
          - "3.9"
      fail-fast: false
    name: Test on ${{ matrix.os }} with Python ${{ matrix.python }}
    steps:
      - uses: actions/checkout@v2

      - uses: ./.github/actions/build-python-wheel
        with:
          python-version: ${{ matrix.python }}

      # No need to lint for each OS and Python version
      - if: matrix.os == 'ubuntu-latest' && matrix.python == '3.9'
        name: Check formatting
        run: poetry run black --check .

      - name: Test
        run: poetry run pytest

      # No need to upload the package for each Python version
      - if: matrix.python == '3.9'
        uses: actions/upload-artifact@v2
        with:
          if-no-files-found: error
          name: jdk4py-${{ matrix.os }}.whl
          path: dist/jdk4py-*.whl

  conda-package:
    runs-on: ubuntu-latest
    name: Test Conda packaging
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          architecture: x64
          python-version: "3.9"

      - name: Install Poetry
        run: pip install poetry

      - name: Install Python dependencies
        run: poetry install

      - name: Set environment variables
        run: poetry run python scripts/set_environment.py

      - uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: ${{ env.JDK4PY_JAVA_VERSION }}

      - name: Build JDK
        run: poetry run python scripts/build_jdk.py

      - uses: conda-incubator/setup-miniconda@v2
        with:
          channels: conda-forge
          conda-build-version: "3.21.5"

      - name: Build Conda package
        run: conda build --no-anaconda-upload --output-folder dist .

      - uses: actions/upload-artifact@v2
        with:
          if-no-files-found: error
          name: conda-packages
          path: dist/${{ env.JDK4PY_CONDA_ARCH }}/jdk4py-*.tar.bz2
