name: Test
on:
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python: ["3.9"]
      fail-fast: false # To not cancel other platforms when one fails
    name: Test on ${{ matrix.os }} with Python ${{ matrix.python }}
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
          architecture: "x64"

      - name: Set Java version
        run: python scripts/set_versions.py

      - uses: joschi/setup-jdk@v2 # We must use to the official action once https://github.com/actions/setup-java/pull/97 is closed
        with:
          java-version: ${{ env.MAJOR_JAVA_VERSION }}
          java-package: jdk # (jre, jdk, or jdk+fx) - defaults to jdk
          architecture: x64

      # Install Poetry
      - if: matrix.os == 'windows-latest'
        name: Install poetry [Windows]
        run: pip install poetry
      - if: matrix.os != 'windows-latest'
        name: Install poetry [Ubuntu/macOS]
        run: pip3 install poetry

      - name: Install python dependencies
        run: poetry install

      - name: Build JDK
        run: poetry run python scripts/build_jdk.py

      - name: Test
        run: poetry run pytest
